html {
  height: 100%;
}


.afbeelding1{
  height: 390px;
  background-image: url("../img/xochi-111556-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.afbeelding2{
  height: 673px;
  background-image: url("../img/patrick-schneider-366016-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top:20px;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.afbeelding3{
  height:  766px;
  background-image: url("../img/seemi-samuel-15564-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.afbeelding4{
  height:  434px;
  background-image: url("../img/shangyou-shi-543887-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.kader1{
  font-family: var(--font-body);
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  border: 1px solid gray;
  padding-top:63px;
  padding-bottom: 63px;
  padding-left: 43px;
  padding-right: 40px;
  margin-bottom: 20px;
}

.kader2{
  font-family: var(--font-body);
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  border: 1px solid gray;
  padding-top: 28px;
  padding-bottom: 35px;
  padding-left: 43px;
  padding-right: 43px;
  margin-bottom: 20px;
  
}

h2{
  font-family: var(--font-body);
  font-size: 22px;
  font-weight: normal;
  text-align: center;
}